<template>
  <div class="answerComparison">
    <div class="question" v-html="question.question" />
    <div class="answers">
      <div class="gridItem" v-html="question.correct_answer" />
      <div class="gridItem" :class="{wrongAnswer: question.user_answer!== question.correct_answer}" v-html="question.user_answer" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'AnswerComparison',
  props: {
    question: Object,
  },
}
</script>

<style scoped>
.answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    text-align: left;
}
.wrongAnswer {
  color: red;
}
</style>