<template>
  <div class="results">
    <div class="animate__animated animate__zoomIn">
      <div class="resultsHeading">{{getHeading()}}</div>
      <div>Your score was {{getScore()}}.</div>
      <div>You answered {{getPercentage()}}% correctly.</div>
    </div>
    <div class="answers">
      <div class="answerHeading">
        <div class="gridItem">Correct Answer</div>
        <div class="gridItem">Your Answer</div>
      </div>
      <AnswerComparison v-for="(question, index) in questions" :key="index" :question="question" />
    </div>
    <button @click="playAgainClicked">Play Again?</button>
    <button @click="backToStartClicked">Back to Start</button>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex';
import common from '@/common';
import AnswerComparison from '@/components/Results/AnswerComparison';

export default {
  name: 'Results',
  data() {
    return {
      pointsMultplier: common.POINTS_MULTIPLIER,
    }
  },
  components: {
    AnswerComparison,
  },
  computed: {
    ...mapState(['numberOfQuestions', 'correctCount', 'questions'])
  },
  methods: {
    ...mapActions(['getQuestions']),
    ...mapMutations(['resetState', 'playAgain']),
    getHeading() {
      if (this.correctCount === 0) {
        return 'Oops!';
      } else {
        return 'Congratulations!';
      }
    },
    getScore() {
      return this.correctCount * this.pointsMultplier;
    },
    getPercentage() {
      if (this.numberOfQuestions === 0) {
        return 0;
      }
      return Math.ceil(this.correctCount / this.numberOfQuestions * 100);
    },
    playAgainClicked() {
      this.playAgain();
      this.getQuestions();
      this.$router.push('/questions');
    },
    backToStartClicked() {
      this.resetState();
      this.$router.push('/');
    }
  }
}
</script>

<style>
.resultsHeading{

}
.results {
  margin: 10px;
  border-radius: 10px;
  background-color: var(--primaryColor);
  color:white;
  text-align: center;
  text-shadow: 2px 2px var(--bodyColor);
  height: 100%;
}
.answers {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
  padding: 5px;
}
.answerHeading {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  text-align: left;
  text-decoration: underline;
}
.gridItem {
  background-color: var(--buttonHighlightColor);
  padding: 5px;
  border-radius: 5px;
}
@media screen and (min-width: 48em) {
  .resultsHeading{
    font-size: 1.5em;
  }
}
</style>