<template>
  <button class="answer" @click="handleAnswerClick" v-html="answerDetails.value"></button>
</template>

<script>
import { mapMutations, mapState } from 'vuex';

export default {
  name: 'Answer',
  props: {
    answerDetails: Object,
  },
  computed: {
    ...mapState(['gameOver'])
  },
  methods: {
    ...mapMutations(['incrementCorrectCount', 'incrementCurrentQuestion', 'addUserAnswer']),
    handleAnswerClick() {
      if (this.answerDetails.correct) {
        this.incrementCorrectCount();
      }
      this.addUserAnswer(this.answerDetails.value);
      this.incrementCurrentQuestion();
      if (this.gameOver) {
        this.$router.push('/results');
      }
    },
  },
}
</script>

<style scoped>
</style>