<template>
  <div class="questions">
    <div class="questionContainer" v-if="questions.length > 0" v-bind:style="{opacity: opacity}">
      <p class="question" id="question"><span v-html="questions[currentQuestion].question" /></p>
      <div class="answers">
        <Answer v-for="(answer, index) in questions[currentQuestion].randomizedAnswers" :key="index" :answerDetails="answer" :disabled="showModal"/>
      </div>
    </div>
    <div v-else-if="error.length > 0">
      <p class="error">{{error}}</p>  
    </div>
    <div v-else>
      <p class="question">Waiting for questions...</p>
    </div>
    <button class="bottom" @click="handleQuitClick" :disabled="showModal" :style="{opacity: opacity}">Quit?</button>
    <Modal v-if="showModal" :modalInfo="modalInfo" @modalOkClicked="handleModalOkClicked" @modalCancelClicked="handleModalCancelClicked" />
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import Answer from '@/components/Questions/Answer';
import Modal from '@/components/Modal/Modal'

export default {
  name: 'Questions',
  components: {
    Answer,
    Modal,
  },
  data() {
    return {
      showModal: false,
      modalInfo: {
        text: "Are you sure you want to quit?",
      }
    }
  },
  computed: {
    ...mapState(['error', 'questions', 'currentQuestion']),
    opacity() {
      if (this.showModal) {
        return 0.4;
      }
      return 1;
    },
  },
  methods: {
    ...mapMutations(['resetState']),
    handleQuitClick() {
      this.showModal = true;
    },
    handleModalOkClicked() {
      this.showModal = false;
      this.resetState();
      this.$router.push('/');
    },
    handleModalCancelClicked() {
      this.showModal = false;
    },
  },
}
</script>

<style scoped>
.questions {
  height: 100%;
}
.questionContainer {
  height: 40%;
}
.question {
  border-radius: 10px;
  margin: 10px;
  background-color: var(--primaryColor);
  color:white;
  text-align: center;
  text-shadow: 2px 2px var(--bodyColor);
  padding: 20px;
  height: 100%;
}
.error {
  border-radius: 10px;
  margin: 10px;
  background-color: var(--primaryColor);
  color:white;
  text-align: center;
  text-shadow: 2px 2px var(--bodyColor);
  padding: 20px;
  height: 100%;
  font-size: 1.5em;
}
.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
  column-gap: 5px;
  padding: 5px;
}
.bottom {
  position: absolute;
  bottom: 0;
}
@media screen and (min-width: 48em) {
  .question {
    font-size: 1.5em;
  }
  .error {
    font-size: 1.5em;
  }
}
</style>