<template>
  <div class="modal">
    <div>{{modalInfo.text}}</div>
    <div class="buttonsContainer">
      <button @click="handleOkClicked">OK</button>
      <button @click="handleCancelClicked">Cancel</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Modal",
  props: {
    modalInfo: Object,
  },
  methods: {
    handleOkClicked() {
      this.$emit('modalOkClicked');
    },
    handleCancelClicked() {
      this.$emit('modalCancelClicked');
    },
  }
}
</script>

<style scoped>
.modal {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primaryColor);
    color: white;
    text-shadow: 2px 2px var(--bodyColor);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
}
.buttonsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
</style>
