<template>
  <div class="home">
    <h1 class="animate__animated animate__shakeX">Welcome to<br>Eric's Trivia Challenge</h1>
    <div class="options">
      <div class="inputLabel">
        <label for="category">Category</label>
      </div>
      <div class="userInput">
        <select @input="onCategoryChanged" v-on: id="category" name="category">
          <option v-for="category in this.categories" :key="category.id" :value="category.id">{{category.name}}</option>
        </select>
      </div>
      <div class="inputLabel">
        <label for="difficulty">Difficulty</label>
      </div>
      <div class="userInput">
        <select @input="onDifficultyChanged" id="difficulty" name="difficulty">
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
      </div>
      <div class="inputLabel">
        <label for="number">Number of Questions</label>
      </div>
      <div class="userInput">
        <input @input="onNumberOfQuestionsChanged" type="number" id="number" name="number" min="1" max="50" :value="defaultNumberOfQuestions" />
      </div>
    </div>
    <div>
      <button class="startButton" @click="onStartGameClicked" id="startGame">Start Game</button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex';
import common from '@/common';

export default {
  name: "Home",
  data() {
    return {
      defaultNumberOfQuestions: common.NUMBER_OF_QUESTIONS,
      defaultDifficulty: common.DIFFICULTY,
    }
  },
  computed: {
    ...mapState(['error', 'categories', 'questions'])
  },
  methods: {
    ...mapActions(['getCategories', 'getQuestions']),
    ...mapMutations(['setCategory', 'setDifficulty', 'setNumberOfQuestions']),
    onStartGameClicked() {
      this.getQuestions();
      if (!this.error) {
        this.$router.push('/questions');
      }
    },
    onCategoryChanged(event) {
      this.setCategory(event.target.value);
    },
    onDifficultyChanged(event) {
      this.setDifficulty(event.target.value);
    },
    onNumberOfQuestionsChanged(event) {
      this.setNumberOfQuestions(event.target.value);
    }
  },
  created() {
    this.getCategories();
  },
  updated() {
    this.setDifficulty(common.DIFFICULTY);
    this.setNumberOfQuestions(common.NUMBER_OF_QUESTIONS);
    this.setCategory(this.categories[0].id);
  }
}
</script>

<style scoped>
h1 {
  padding-top: 10px;
  font-family: 'Acme', sans-serif;
  font-size: 2em;
}
.home {
  margin: 10px;
  border-radius: 10px;
  background-color: var(--primaryColor);
  color:white;
  text-align: center;
  text-shadow: 2px 2px var(--bodyColor);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.options {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 10px;
  row-gap: 5px;
}
.startButton{
  margin: 50px 0px 20px 0px;
}

/*********************************************************
FOR DESKTOP
**********************************************************/
@media screen and (min-width: 48em) {
  .options {
    grid-template-columns: 1fr 1fr;
  }
  .inputLabel {
    text-align: right;
  }
  .userInput {
    display: flex;
  }
}
</style>