<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>

export default {
  name: 'App',
}
</script>

<style>
:root {
  --bodyColor: #3e1929;
  --primaryColor: #6e75a8;
  --buttonColor: #b0daf1;
  --buttonHighlightColor: #845a6d;
}

html {
  height: 100%;
}

body {
  background-color: #3e1929;
  font-family: 'Nunito', sans-serif;
  height: 95%;
}

button {
  background-color: var(--buttonColor);
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  margin: 10px;
  padding: 10px;
}

.error {
  border-radius: 10px;
  top: 10px;
  background-color: red;
  color:white;
  text-align: center;
  text-shadow: 2px 2px black;
}

/*********************************************************
FOR DESKTOP
**********************************************************/
@media screen and (min-width: 48em) {
  body {
    font-size: 1.5em;
  }
  button {
    font-size: 1.5em;
  }
  button:hover {
    background-color: var(--buttonHighlightColor);
    color: white;
  }
}
</style>

